* {
    margin: 0px;
    padding: 0px;
}

div {
    background-repeat: no-repeat;
}

.container {
    background-color: white;
}

.clubInfo-wrapper {
    display: flex;
    flex-direction: column;
}

.head-wrapper {
    width: 100vw;
    height: 25vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.club-name-wrapper {
    height: 15vh;
    width: 60vw;
    background-color: tomato;
    display: flex;
}

.club-name {
    height: 15vh;
    width: 80vw;
    font-size: 7vh;
    text-align: center;
    align-content: center;
}

.personal-info-function-button-wrapper {
    height: 20vh;
    width: 15vw;
    display: flex;
    text-align: end;
    align-content: flex-end;
    justify-content: flex-end;
    background-color: tomato;
}