.user-info-wrapper {
  display: flex;
  justify-content: flex-end;
}

.user-info {
  width: 140px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  margin: 30px;
  margin-right: 5%;
}

.line {
  height: 2px;
  background-color: black;
  width: 90%;
  margin: auto;
}
.publish-info-wrapper {
  width: 86%;
  margin: auto;
  margin-top: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 13px;
}

.publish-info-wrapper div:not(.title-wrapper) {
  margin-top: 12px;
}
