html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    margin: auto;
}

.register-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
}

.recruit-name {
    margin-top: 40px;
}

.recruit-name p {
    text-align: center;
}

.form-wrapper {
    color: rgb(1, 1, 1);
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-wrapper input,
.form-wrapper button {
    height: 10%;
    color: rgb(1, 1, 1);
    font-size: 22px;
    background-color: rgb(222, 222, 222);
    padding: 18px;
    text-align: center;
    display: inline-block;
}

.form-wrapper button {
    border: 0px;
    height: 10%;
    background-color: rgb(222, 222, 222);
    background-image: none;
    display: inline-block;
}

#userSchool {
    outline: none;
    background-color: rgb(222, 222, 222);
}

#userId {
    outline: none;
    background-color: rgb(222, 222, 222);
}

#password {
    outline: none;
    background-color: rgb(222, 222, 222);
    background-size: 50px 50px;
}

#confirmPassword {
    outline: none;
    background-color: rgb(222, 222, 222);
    background-size: 50px 50px;
}

#register {
    outline: none;
    background-color: rgb(222, 222, 222);
    background-size: 50px 50px;
}

.welcome {
    text-align: center;
}


/*
将界面的input中的placeholder修改为白色
*/

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
    text-align: center;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    text-align: center;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
    text-align: center;
}