/*
input的placeholder点击后不会自动消失，这里把input的
获得焦点后，将其placeholder颜色设置为透明，实现点击后
placeholder自动消失。
*/

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
}

input:focus:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
}

* {
    margin: 0px;
    padding: 0px;
}

div {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 100vw;
    height: 100vh;
}

.register-wrapper {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    align-items: center;
}

.logo {
    background-image: url("/img/ic_recruitment.jpg");
    width: 22vw;
    height: 22vw;
}

.text {
    font-weight: 500;
    font-size: x-large;
}

.version {
    font-weight: 500;
    font-size: medium;
}

.form-wrapper {
    margin-left: 10vw;
}

.welcome {
    font-weight: 500;
    font-size: larger;
}

.line-wrapper {
    margin: 10px;
    margin-top: 15px;
    height: 40px;
    display: flex;
}

.line-wrapper img {
    width: 40px;
    height: 40px;
}

.line-wrapper input {
    height: 100%;
    width: 20vw;
    background-color: rgb(222, 222, 222);
    border: 0px;
    text-align: center;
    display: inline-block;
}

.button-action {
    display: flex;
    justify-content: space-around;
}

.button-action button {
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 17px;
}

#confirm {
    background-color: green;
    text-align: center;
}

#cancle {
    background-color: rgb(112, 112, 112);
    text-align: center;
}